body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf9ff;
  /* color:#70d1e0, */
  color: #121348;
}

code {
  font-family: 'Nunito', sans-serif;
}
